@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  background-color: #111827;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4a5568; /* Change this to your desired color */
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #2d3748; /* Change this to your desired color */
}
